# Flutter specific
*.flutter-plugins
*.flutter-plugins-dependencies
.flutter-plugins
.flutter-plugins-dependencies
.flutter-plugins-registrant
.dart_tool/
.packages
.pub-cache/
.pub/
build/
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/Flutter/engine/
ios/Flutter/app.flx
ios/Flutter/app_framework/
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
android/.gradle/
android/app/app.iml
android/local.properties
android/.idea/
android/gradle/
android/gradlew
android/gradlew.bat
android/app/build/
.idea/
*.iml
*.ipr
*.iws
*.lock
*.log
*.swp
*.hprof
*.DS_Store
*.class
*.jar
*.war
*.ear
*.tar.gz
*.rar
*.zip
*.7z
*.gz
*.tgz
*.bz2
*.xz
*.lzma
*.zst
*.lz
*.sz
*.lrz
*.cpio
*.tar
*.tgz
*.bz2
*.xz
*.zst
*.lz
*.sz
*.lrz
*.cpio
*.tar
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.zst
*.tar.lz
*.tar.sz
*.tar.lrz
*.tar.z
*.z
*.gz
*.bz2
*.xz
*.lzma
*.zst
*.lz
*.sz
*.lrz
*.lz4
*.z4
*.lzop
*.lrzip
*.c
*.h
*.o
*.d
*.p
*.t

# JetBrains related
.idea/
*.iml
*.ipr
*.iws

# VS Code related
.vscode/

# Mac related
.DS_Store
